@import './utils/text';
:root {
  --primary-color-1: #e6f7ff;
  --primary-color-2: #bae7ff;
  --primary-color-3: #91d5ff;
  --primary-color-4: #69c0ff;
  --primary-color-5: #40a9ff;
  --primary-color-6: #1890ff;
  --primary-color-7: #096dd9;
  --primary-color-8: #0050b3;
  --primary-color-9: #003a8c;
  --primary-color-10: #002766;

  --cyan-color-1: #e6fffb;
  --cyan-color-2: #b5f5ec;
  --cyan-color-3: #87e8de;
  --cyan-color-4: #5cdbd3;
  --cyan-color-5: #36cfc9;
  --cyan-color-6: #13c2c2;
  --cyan-color-7: #08979c;
  --cyan-color-8: #006d75;
  --cyan-color-9: #00474f;
  --cyan-color-10: #002329;

  --white-full: #fff;

  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);

  --font-size: 14px;
  --cell-padding-1: 0.6rem;

  --radius-1: 0.3rem;

  --box-shadow-1: rgba(0, 0, 0, 0.2);
  --box-shadow-2: rgba(0, 0, 0, 0.3);
  --box-shadow-3: rgba(0, 0, 0, 0.4);

  --border-1: #eee;

  --color: #fff;
}

#root {
  /* 1rem === 16px */
  min-height: 100vh;
  padding-bottom: calc(4rem + constant(safe-area-inset-bottom));
  padding-bottom: calc(4rem + env(safe-area-inset-bottom));
}

html {
  font-size: var(--font-size);
}

body {
  font-size: inherit;
}
