@mixin circle($a, $b) {
  position: absolute;
  left: $a;
  top: $b;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #ff6d6d;
  mix-blend-mode: multiply;
}

.task {
  &--wrapper {
    padding: 1rem;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
  }

  &__card {
    margin: 0.5rem 0;
    padding: 0.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
  }

  &__circle {
    @include circle(-22%, -3%);
  }

  &__oCircle {
    @include circle(-5%, -13%);
  }

  &__container {
    flex: 1;
    & div {
      padding: 0.2rem;
      font-size: 1rem;
    }

    &--span {
      padding: 0.2rem 0.4rem;
      border-radius: 0.3rem;
      background-color: var(--primary-background, #3a3a3a);
      color: var(--primary-color, #aac8e4);
    }
  }

  &__operation {
    width: 3.5rem;
    display: flex;
    margin-right: 0.5rem;
    justify-content: space-between;
  }
}

.sub-title {
  text-align: center;
  margin: 4rem 0;
  &__wrapper {
    overflow: hidden;
  }
}
