.select-date {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    box-shadow: 0 1px 1px var(--box-shadow-1);
  }

  &__accept {
    font-size: 1rem;
  }
}
