:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);

  --font-size: 14px;
  --cell-padding-1: 0.6rem;

  --radius-1: 0.3rem;
}
#root {
  /* 1rem === 16px */
  padding-bottom: calc(4rem + constant(safe-area-inset-bottom));
  padding-bottom: calc(4rem + env(safe-area-inset-bottom));
}

html {
  font-size: var(--font-size);
}

body {
  font-size: inherit;
}
