.adm-number-keyboard-popup.adm-popup {
  z-index: var(--z-index, 1000);
}

.add-bill {
  &-operation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.2rem;
    width: 100%;
    padding: 0 1rem;
    button {
      margin-right: 1rem;
    }
  }
  &-money {
    margin-top: 1rem;
    padding:0 1rem;
    display: flex;
    font-size: 2rem;
    span {
      margin-right: 1rem;
    }
    input {
      font-size: 2rem;
    }
  }

  &-remark {
    padding: 0 1rem;
  }
}
