.bill {
  &__header {
    height: 6rem;
    width: 100%;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    background-color: var(--primary-color-6);

    & > div:first-child {
      justify-content: space-between;
    }
  }

  &__button {
    text-align: right;

    & > span {
      margin-top: 0.3rem;
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}

.payment {
  &__wrapper {
    color: var(--color);
    label {
      font-size: 1.2rem;
    }

    span {
      font-size: 1.5rem;
    }
  }
}
