.bill-container {
  border-top: 1px solid transparent;
  & > div {
    margin-top: calc(6rem - 1px);
    padding: 0.5rem;
    &__title {
      display: flex;
      justify-content: space-between;
    }
  }
}
