.type-filter {
  height: 50vh;
  padding: 1rem;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    & > button {
      width: 30%;
      margin-bottom: 2%;
      &:not(:nth-of-type(3n)) {
        margin-right: 3%;
      }
    }
  }
}
