.avatar {
  display: flex;
  align-items: center;
  &__img {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    color: #fff;
    padding: 0;

    img {
      width: 100%;
    }

    span {
      display: flex;
      height: 100%;
      text-transform: uppercase;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
      background-color: #617ee0;
    }
  }
}
