@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1648879157394') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e627";
}

.icon-danger:before {
  content: "\f0158";
}

.icon-warning:before {
  content: "\e620";
}

.icon-success:before {
  content: "\e8ad";
}

