@font-face {
  font-family: "iconfont"; /* Project id 3767286 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1668273323643') format('woff2'),
       url('iconfont.woff?t=1668273323643') format('woff'),
       url('iconfont.ttf?t=1668273323643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renwu:before {
  content: "\fc3f";
}

.icon-yonghuguanli:before {
  content: "\fcea";
}

.icon-shujutongji:before {
  content: "\fcee";
}

.icon-shujuguanli:before {
  content: "\fcef";
}

.icon-mianxingyumaobi:before {
  content: "\e676";
}

.icon-anquanyanzheng:before {
  content: "\fc36";
}

.icon-bianji:before {
  content: "\fc46";
}

.icon-jiesuo:before {
  content: "\fc50";
}

