.collect {
  &-total-panel {
    background-color: #fff;
    height: 20vh;
    padding: 2rem 1rem 0;
  }

  &__date {
    text-align: center;
    & > div {
      &:first-child {
        display: inline-block;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--gray-color-3);

        & > span {
          &::after {
            content: '|';
            margin: 0 0.5rem;
          }
        }
      }
      &:not(:first-child) {
        display: flex;
        padding: 1rem 3rem;
        justify-content: space-between;

        & > div {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
}

.composition-wrapper {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem 0;

  background-color: var(--background-white);

  &__title {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin: 0;
    }

    button {
      margin-right: 1rem;
    }
  }
}

.amount-list {
  display: flex;
  align-items: center;
  & > div:first-child {
    width: 8rem;
    display: flex;
    align-items: center;

    i {
      font-size: 2rem;
      margin-right: 0.5rem;
    }
    span {
      flex-shrink: 0;
    }
    span:last-child {
      flex: 1;
      margin-left: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__process-bar {
    flex: 1;
  }
}
