.top-bar-wrapper {
  width: 100%;
  background-color: var(--white-full);
  display: flex;
  height: 3rem;
  align-items: center;
  span {
    &:first-child {
      width: 2rem;
      padding-left: 0.5rem;
    }
    &:last-child {
      width: 2rem;
    }
    &:not(:first-child):not(:last-child) {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
